In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./res/geographic-sum-per-day-ver_00162.csv')

In [4]:
df.describe()

           town_code      agas_code
count  658623.000000  554609.000000
mean     4830.878240     297.047244
std      2939.418622     417.479858
min        26.000000       1.000000
25%      2610.000000      18.000000
50%      5000.000000     127.000000
75%      7400.000000     423.000000
max      9800.000000    2911.000000

In [5]:
df.head()

,town_code,agas_code,town,date,accumulated_cases,new_cases_on_date,accumulated_recoveries,new_recoveries_on_date,accumulated_hospitalized,new_hospitalized_on_date,accumulated_deaths,new_deaths_on_date,accumulated_diagnostic_tests,new_diagnostic_tests_on_date,accumulated_vaccination_first_dose,new_vacc_first_dose_on_date,accumulated_vaccination_second_dose,new_vacc_second_dose_on_date
0,26,NaN,ראש פינה,2020-03-11,0,False,0,False,0.0,False,0,False,0,False,0.0,False,0.0,False
1,26,NaN,ראש פינה,2020-03-12,0,False,0,False,0.0,False,0,False,0,False,0.0,False,0.0,False
2,26,NaN,ראש פינה,2020-03-13,0,False,0,False,0.0,False,0,False,0,False,0.0,False,0.0,False
3,26,NaN,ראש פינה,2020-03-14,0,False,0,False,0.0,False,0,False,0,False,0.0,False,0.0,False
4,26,NaN,ראש פינה,2020-03-15,0,False,0,False,0.0,False,0,False,0,False,0.0,False,0.0,False

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 658623 entries, 0 to 658622
Data columns (total 18 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   town_code                            658623 non-null  int64
 1   agas_code                            554609 non-null  float64
 2   town                                 658623 non-null  object
 3   date                                 658623 non-null  object
 4   accumulated_cases                    658623 non-null  object
 5   new_cases_on_date                    658623 non-null  bool
 6   accumulated_recoveries               658623 non-null  object
 7   new_recoveries_on_date               658623 non-null  bool
 8   accumulated_hospitalized             658623 non-null  object
 9   new_hospitalized_on_date             658623 non-null  bool
 10  accumulated_deaths                   658623 non-null  object
 11  new_deaths_on_date                   658623 non-null  bool
 12  accumulated_diagnostic_tests         658623 non-null  object
 13  new_diagnostic_tests_on_date         658623 non-null  bool
 14  accumulated_vaccination_first_dose   658623 non-null  object
 15  new_vacc_first_dose_on_date          658623 non-null  bool
 16  accumulated_vaccination_second_dose  658623 non-null  object
 17  new_vacc_second_dose_on_date         658623 non-null  bool
dtypes: bool(7), float64(1), int64(1), object(9)
memory usage: 59.7+ MB

In [7]:
df.isna().sum()

town_code                                   0
agas_code                              104014
town                                        0
date                                        0
accumulated_cases                           0
new_cases_on_date                           0
accumulated_recoveries                      0
new_recoveries_on_date                      0
accumulated_hospitalized                    0
new_hospitalized_on_date                    0
accumulated_deaths                          0
new_deaths_on_date                          0
accumulated_diagnostic_tests                0
new_diagnostic_tests_on_date                0
accumulated_vaccination_first_dose          0
new_vacc_first_dose_on_date                 0
accumulated_vaccination_second_dose         0
new_vacc_second_dose_on_date                0
dtype: int64

In [8]:
for h in df.columns:
    print(h, "-----:\n", df[h].unique(), '\n')

town_code -----:
 [  26   28   31   41   46   47   53   70   99  122  147  154  166  168
  171  182  190  195  229  240  246  276  326  351  466  469  472  473
  478  480  481  482  483  485  487  489  490  492  494  496  498  499
  502  504  505  507  508  509  510  511  512  516  517  518  520  521
  522  524  525  526  528  529  530  531  532  534  535  536  537  538
  541  542  543  565  577  587  627  628  633  634  635  637  638  652
  654  658  666  681  696  709  763  812  831  874  913  922  944  962
  975  978  998 1015 1020 1031 1034 1050 1054 1059 1060 1061 1063 1066
 1082 1098 1113 1137 1139 1161 1167 1186 1192 1200 1224 1243 1245 1247
 1263 1268 1271 1274 1284 1286 1290 1292 1295 1296 1303 1304 1309 1310
 1315 1319 1326 1327 1330 1333 1337 1345 1347 1348 1358 1359 2034 2038
 2100 2200 2300 2400 2500 2530 2550 2560 2600 2610 2620 2630 2640 2650
 2660 2710 2720 2730 2800 3000 3557 3560 3563 3564 3570 3574 3576 3604
 3611 3616 3617 3618 3638 3640 3641 3647 3650 3652 3660 3709 3710 3720
 3725 3726 3727 3730 3750 3760 3763 3765 3769 3770 3778 3779 3780 3788
 3791 3795 3796 3797 3823 4000 4001 4005 4100 4201 4203 4501 4502 5000
 6000 6100 6200 6300 6400 6500 6600 6700 6800 6900 7000 7100 7200 7300
 7400 7500 7600 7700 7800 7900 8000 8200 8300 8400 8500 8600 8700 8800
 8900 9000 9100 9200 9300 9400 9500 9600 9700 9800]

agas_code -----:
 [      nan 1.000e+00 2.000e+00 3.000e+00 4.000e+00 6.000e+00 7.000e+00
 1.220e+02 1.230e+02 1.250e+02 1.260e+02 1.310e+02 1.330e+02 1.410e+02
 1.420e+02 1.430e+02 1.440e+02 2.110e+02 2.120e+02 2.210e+02 2.220e+02
 2.230e+02 2.310e+02 2.320e+02 2.330e+02 2.340e+02 2.410e+02 2.420e+02
 2.430e+02 2.440e+02 3.110e+02 3.140e+02 3.150e+02 3.160e+02 3.170e+02
 3.210e+02 3.220e+02 3.230e+02 3.310e+02 3.330e+02 3.420e+02 3.430e+02
 4.110e+02 4.120e+02 4.130e+02 4.150e+02 4.210e+02 4.220e+02 4.230e+02
 4.240e+02 4.250e+02 4.260e+02 4.320e+02 4.330e+02 4.340e+02 5.000e+00
 8.000e+00 9.000e+00 1.100e+01 1.200e+01 2.100e+01 2.200e+01 2.300e+01
 2.400e+01 3.100e+01 3.200e+01 3.300e+01 3.400e+01 4.100e+01 4.300e+01
 1.300e+01 1.400e+01 3.500e+01 1.000e+01 1.500e+01 1.600e+01 1.700e+01
 4.200e+01 2.500e+01 3.600e+01 2.600e+01 2.700e+01 3.700e+01 3.800e+01
 1.110e+02 1.120e+02 1.130e+02 1.140e+02 1.150e+02 1.160e+02 1.210e+02
 1.240e+02 1.320e+02 1.340e+02 1.350e+02 1.360e+02 4.310e+02 4.350e+02
 5.120e+02 5.130e+02 5.140e+02 5.150e+02 5.210e+02 5.220e+02 5.230e+02
 5.310e+02 5.320e+02 5.330e+02 5.410e+02 5.420e+02 8.120e+02 8.210e+02
 8.220e+02 8.230e+02 8.240e+02 8.250e+02 8.260e+02 8.320e+02 8.340e+02
 8.350e+02 8.360e+02 8.630e+02 8.640e+02 9.110e+02 9.120e+02 9.130e+02
 9.140e+02 9.150e+02 9.210e+02 9.220e+02 9.230e+02 9.310e+02 9.320e+02
 9.330e+02 9.340e+02 1.011e+03 1.012e+03 1.013e+03 1.014e+03 1.015e+03
 1.016e+03 1.031e+03 1.032e+03 1.034e+03 1.035e+03 1.041e+03 1.042e+03
 1.043e+03 1.044e+03 1.121e+03 1.122e+03 1.124e+03 1.131e+03 1.132e+03
 1.141e+03 1.143e+03 1.144e+03 1.147e+03 1.211e+03 1.212e+03 1.213e+03
 1.214e+03 1.215e+03 1.216e+03 1.217e+03 1.221e+03 1.222e+03 1.223e+03
 1.311e+03 1.312e+03 1.313e+03 1.321e+03 1.334e+03 1.335e+03 1.337e+03
 1.341e+03 1.342e+03 1.343e+03 1.344e+03 1.346e+03 1.351e+03 1.352e+03
 1.353e+03 1.354e+03 1.355e+03 1.622e+03 1.623e+03 1.631e+03 1.632e+03
 1.633e+03 1.634e+03 1.641e+03 1.642e+03 1.643e+03 2.111e+03 2.112e+03
 2.211e+03 2.212e+03 2.213e+03 2.311e+03 2.312e+03 2.411e+03 2.412e+03
 2.511e+03 2.512e+03 2.513e+03 2.514e+03 2.611e+03 2.612e+03 2.613e+03
 2.711e+03 2.811e+03 2.812e+03 2.911e+03 3.320e+02 3.340e+02 4.140e+02
 4.170e+02 5.110e+02 5.240e+02 5.250e+02 5.260e+02 5.270e+02 5.280e+02
 6.110e+02 6.130e+02 6.210e+02 6.220e+02 6.230e+02 6.310e+02 6.320e+02
 6.410e+02 6.420e+02 6.430e+02 7.120e+02 7.130e+02 7.140e+02 7.210e+02
 7.220e+02 7.230e+02 7.310e+02 7.320e+02 7.330e+02 8.110e+02 8.130e+02
 9.410e+02 9.430e+02 9.440e+02 1.170e+02 2.130e+02 2.140e+02 2.150e+02
 2.160e+02 2.240e+02 2.250e+02 2.260e+02 3.120e+02 3.130e+02 3.240e+02
 3.250e+02 3.260e+02 3.360e+02 3.410e+02 3.450e+02 3.460e+02 3.470e+02
 4.270e+02 4.360e+02 4.370e+02 5.160e+02 5.170e+02 5.440e+02 5.550e+02
 6.120e+02 7.110e+02 7.250e+02 7.340e+02 7.350e+02 7.360e+02 7.430e+02
 7.440e+02 7.450e+02 7.460e+02 7.470e+02 7.480e+02 8.140e+02 8.330e+02
 9.250e+02 9.260e+02 9.270e+02 9.290e+02 9.360e+02 9.370e+02 9.420e+02
 9.450e+02 9.460e+02 9.470e+02 2.170e+02 4.400e+01 5.100e+01 5.200e+01
 5.400e+01 5.500e+01 5.600e+01 5.700e+01 6.300e+01 6.400e+01 6.500e+01
 6.600e+01 4.500e+01 5.300e+01 6.100e+01 6.200e+01 3.350e+02 4.160e+02
 6.140e+02 6.150e+02 6.240e+02 6.250e+02 6.260e+02 3.510e+02 3.520e+02
 3.540e+02 5.340e+02 1.800e+01 1.270e+02 1.450e+02 2.350e+02 2.360e+02
 6.160e+02 6.170e+02 1.370e+02 1.380e+02 4.180e+02 1.900e+01 2.800e+01
 6.330e+02 6.450e+02]

town -----:
 ['ראש פינה' 'מזכרת בתיה' 'אופקים' 'אליכין' 'יבנאל' 'כפר תבור' 'עתלית'
 'אשדוד' 'מצפה רמון' 'רמת ישי' 'גבעת ברנר' 'תל מונד' 'גן יבנה' 'כפר יונה'
 'פרדסייה' 'אבן יהודה' 'כפר ויתקין' 'קדימה-צורן' 'גני תקווה' 'יקנעם עילית'
 'נתיבות' 'צור משה' 'בית יצחק-שער חפר' 'ניצן' 'בית דגן' 'קריית עקרון'
 'אבו גוש' 'אבו סנאן' 'אכסאל' "בית ג'ן" 'מגאר' "בועיינה-נוג'ידאת" 'בענה'
 "ג'ולס" "ג'ש (גוש חלב)" 'דבורייה' 'דייר אל-אסד' 'דייר חנא'
 'דאלית אל-כרמל' 'חורפיש' 'טורעאן' 'יפיע' 'ירכא' 'כאבול'
 "כאוכב אבו אל-היג'א" 'כפר יאסיף' 'כפר כמא' 'כפר כנא' 'כפר מנדא' 'עילוט'
 'כפר מצר' "מג'ד אל-כרום" 'מזרעה' 'מעיליא' 'משהד' 'עין נקובא' 'נחף'
 'נאעורה' "סאג'ור" 'סולם' 'עוזייר' 'אעבלין' 'עיילבון' 'עראבה' 'עין מאהל'
 'עספיא' 'פסוטה' 'פקיעין (בוקייעה)' 'פוריידיס' 'שעב' "ג'סר א-זרקא" 'ריינה'
 'ראמה' 'אזור' 'יד בנימין' 'סביון' "ג'לג'וליה" "ג'ת" 'כפר ברא' 'כפר קאסם'
 'מוקייבלה' 'ערערה' 'קלנסווה' 'אבטין' 'כפר קרע' "שייח' דנון" 'עומר'
 'גבעת שמואל' 'כפר חב"ד' 'תפרח' 'שתולים' 'שלומי' 'ירוחם' 'מגדל העמק'
 'שבלי - אום אל-גנם' 'רכסים' 'בסמת טבעון' 'טובא-זנגרייה' 'זרזיר'
 "כעביה-טבאש-חג'אג'רה" 'ביר אל-מכסור' 'מבשרת ציון' 'אור עקיבא' 'שדרות'
 'קריית מלאכי' 'בית חשמונאי' 'תל שבע' 'כסיפה' 'לקיה' 'נצרת עילית'
 'מעלות-תרשיחא' 'בני עי"ש' 'מעגלים' 'מרכז שפירא' 'צור הדסה' 'קריית יערים'
 'כרמיאל' 'רהט' 'קיסריה' 'הושעיה' 'ערערה-בנגב' 'מודיעין-מכבים-רעות'
 'כוכב יאיר' 'קציר                ' 'סלמה' 'חריש' 'כפר ורדים' 'מיתר'
 'להבים' 'גן נר' 'נופית' 'שגב-שלום' 'זמר' "ג'דיידה-מכר" "יאנוח-ג'ת"
 'כסרא-סמיע' 'חורה' 'שוהם' 'אלעד' 'לפיד' 'מתן' 'בת חפר' 'בסמ"ה'
 'מעלה עירון' 'אחוזת ברק' 'נוף איילון' 'שמשית' 'צור יצחק' 'קצר א-סר'
 "ביר הדאג'" 'אום בטין' 'אל סייד' 'חצור הגלילית' 'ברקת' 'טירת כרמל'
 'דימונה' 'קריית טבעון' 'אור יהודה' 'נשר' 'באר יעקב' 'גדרה' 'ערד' 'אילת'
 'בית שמש' 'קריית אונו' 'קריית גת' 'ראש העין' 'רמת השרון' 'יבנה'
 'אום אל-פחם' 'טירה' 'טייבה' 'קריית שמונה' 'ירושלים' 'קדומים' 'אלקנה'
 'תקוע' 'כוכב השחר' 'אריאל' 'בית אל' 'מצפה יריחו' 'אלון שבות' 'קריית ארבע'
 'מעלה אדומים' 'עפרה' 'אלעזר' 'כפר אדומים' 'קרני שומרון' 'שילה' 'יקיר'
 'אפרת' 'בית אריה' 'עמנואל' 'מבוא חורון' 'ברכה' 'שערי תקווה' 'נווה דניאל'
 'נוקדים' 'עלי זהב' 'גבעת זאב' 'אלפי מנשה' 'אורנית' 'גבע בנימין' 'עלי'
 'הר אדר' 'חשמונאים' 'עץ אפרים' 'כוכב יעקב' 'ביתר עילית' 'טלמון' 'צופים'
 'רבבה' 'כפר האורנים' 'מודיעין עילית' 'גני מודיעין' 'חיפה' 'בוקעאתא'
 'חספין' 'קצרין' "מג'דל שמס" 'מסעדה' "ע'ג'ר" 'עין קנייא' 'תל אביב-יפו'
 'באקה אל-גרביה' 'בני ברק' 'בת ים' 'גבעתיים' 'הרצלייה' 'חדרה' 'חולון'
 'טבריה' 'קריית אתא' 'כפר סבא' 'לוד' 'אשקלון' 'נס ציונה' 'נצרת' 'נתניה'
 "סח'נין" 'עכו' 'עפולה' 'פרדס חנה-כרכור' 'פתח תקווה' 'צפת' 'קריית מוצקין'
 'ראשון לציון' 'רחובות' 'רמלה' 'רמת גן' 'רעננה' 'שפרעם' 'טמרה' 'באר שבע'
 'נהרייה' 'בית שאן' 'זכרון יעקב' 'יהוד' 'קריית ביאליק' 'קריית ים'
 'הוד השרון' 'בנימינה-גבעת עדה']

date -----:
 ['2020-03-11' '2020-03-12' '2020-03-13' '2020-03-14' '2020-03-15'
 '2020-03-16' '2020-03-17' '2020-03-18' '2020-03-19' '2020-03-20'
 '2020-03-21' '2020-03-22' '2020-03-23' '2020-03-24' '2020-03-25'
 '2020-03-26' '2020-03-27' '2020-03-28' '2020-03-29' '2020-03-30'
 '2020-03-31' '2020-04-01' '2020-04-02' '2020-04-03' '2020-04-04'
 '2020-04-05' '2020-04-06' '2020-04-07' '2020-04-08' '2020-04-09'
 '2020-04-10' '2020-04-11' '2020-04-12' '2020-04-13' '2020-04-14'
 '2020-04-15' '2020-04-16' '2020-04-17' '2020-04-18' '2020-04-19'
 '2020-04-20' '2020-04-21' '2020-04-22' '2020-04-23' '2020-04-24'
 '2020-04-25' '2020-04-26' '2020-04-27' '2020-04-28' '2020-04-29'
 '2020-04-30' '2020-05-01' '2020-05-02' '2020-05-03' '2020-05-04'
 '2020-05-05' '2020-05-06' '2020-05-07' '2020-05-08' '2020-05-09'
 '2020-05-10' '2020-05-11' '2020-05-12' '2020-05-13' '2020-05-14'
 '2020-05-15' '2020-05-16' '2020-05-17' '2020-05-18' '2020-05-19'
 '2020-05-20' '2020-05-21' '2020-05-22' '2020-05-23' '2020-05-24'
 '2020-05-25' '2020-05-26' '2020-05-27' '2020-05-28' '2020-05-29'
 '2020-05-30' '2020-05-31' '2020-06-01' '2020-06-02' '2020-06-03'
 '2020-06-04' '2020-06-05' '2020-06-06' '2020-06-07' '2020-06-08'
 '2020-06-09' '2020-06-10' '2020-06-11' '2020-06-12' '2020-06-13'
 '2020-06-14' '2020-06-15' '2020-06-16' '2020-06-17' '2020-06-18'
 '2020-06-19' '2020-06-20' '2020-06-21' '2020-06-22' '2020-06-23'
 '2020-06-24' '2020-06-25' '2020-06-26' '2020-06-27' '2020-06-28'
 '2020-06-29' '2020-06-30' '2020-07-01' '2020-07-02' '2020-07-03'
 '2020-07-04' '2020-07-05' '2020-07-06' '2020-07-07' '2020-07-08'
 '2020-07-09' '2020-07-10' '2020-07-11' '2020-07-12' '2020-07-13'
 '2020-07-14' '2020-07-15' '2020-07-16' '2020-07-17' '2020-07-18'
 '2020-07-19' '2020-07-20' '2020-07-21' '2020-07-22' '2020-07-23'
 '2020-07-24' '2020-07-25' '2020-07-26' '2020-07-27' '2020-07-28'
 '2020-07-29' '2020-07-30' '2020-07-31' '2020-08-01' '2020-08-02'
 '2020-08-03' '2020-08-04' '2020-08-05' '2020-08-06' '2020-08-07'
 '2020-08-08' '2020-08-09' '2020-08-10' '2020-08-11' '2020-08-12'
 '2020-08-13' '2020-08-14' '2020-08-15' '2020-08-16' '2020-08-17'
 '2020-08-18' '2020-08-19' '2020-08-20' '2020-08-21' '2020-08-22'
 '2020-08-23' '2020-08-24' '2020-08-25' '2020-08-26' '2020-08-27'
 '2020-08-28' '2020-08-29' '2020-08-30' '2020-08-31' '2020-09-01'
 '2020-09-02' '2020-09-03' '2020-09-04' '2020-09-05' '2020-09-06'
 '2020-09-07' '2020-09-08' '2020-09-09' '2020-09-10' '2020-09-11'
 '2020-09-12' '2020-09-13' '2020-09-14' '2020-09-15' '2020-09-16'
 '2020-09-17' '2020-09-18' '2020-09-19' '2020-09-20' '2020-09-21'
 '2020-09-22' '2020-09-23' '2020-09-24' '2020-09-25' '2020-09-26'
 '2020-09-27' '2020-09-28' '2020-09-29' '2020-09-30' '2020-10-01'
 '2020-10-02' '2020-10-03' '2020-10-04' '2020-10-05' '2020-10-06'
 '2020-10-07' '2020-10-08' '2020-10-09' '2020-10-10' '2020-10-11'
 '2020-10-12' '2020-10-13' '2020-10-14' '2020-10-15' '2020-10-16'
 '2020-10-17' '2020-10-18' '2020-10-19' '2020-10-20' '2020-10-21'
 '2020-10-22' '2020-10-23' '2020-10-24' '2020-10-25' '2020-10-26'
 '2020-10-27' '2020-10-28' '2020-10-29' '2020-10-30' '2020-10-31'
 '2020-11-01' '2020-11-02' '2020-11-03' '2020-11-04' '2020-11-05'
 '2020-11-06' '2020-11-07' '2020-11-08' '2020-11-09' '2020-11-10'
 '2020-11-11' '2020-11-12' '2020-11-13' '2020-11-14' '2020-11-15'
 '2020-11-16' '2020-11-17' '2020-11-18' '2020-11-19' '2020-11-20'
 '2020-11-21' '2020-11-22' '2020-11-23' '2020-11-24' '2020-11-25'
 '2020-11-26' '2020-11-27' '2020-11-28' '2020-11-29' '2020-11-30'
 '2020-12-01' '2020-12-02' '2020-12-03' '2020-12-04' '2020-12-05'
 '2020-12-06' '2020-12-07' '2020-12-08' '2020-12-09' '2020-12-10'
 '2020-12-11' '2020-12-12' '2020-12-13' '2020-12-14' '2020-12-15'
 '2020-12-16' '2020-12-17' '2020-12-18' '2020-12-19' '2020-12-20'
 '2020-12-21' '2020-12-22' '2020-12-23' '2020-12-24' '2020-12-25'
 '2020-12-26' '2020-12-27' '2020-12-28' '2020-12-29' '2020-12-30'
 '2020-12-31' '2021-01-01' '2021-01-02' '2021-01-03' '2021-01-04'
 '2021-01-05' '2021-01-06' '2021-01-07' '2021-01-08' '2021-01-09'
 '2021-01-10' '2021-01-11' '2021-01-12' '2021-01-13' '2021-01-14'
 '2021-01-15' '2021-01-16' '2021-01-17' '2021-01-18' '2021-01-19'
 '2021-01-20' '2021-01-21' '2021-01-22' '2021-01-23' '2021-01-24'
 '2021-01-25' '2021-01-26' '2021-01-27' '2021-01-28' '2021-01-29'
 '2021-01-30' '2021-01-31' '2021-02-01' '2021-02-02' '2021-02-03'
 '2021-02-04' '2021-02-05' '2021-02-06' '2021-02-07' '2021-02-08'
 '2021-02-09' '2021-02-10' '2021-02-11' '2021-02-12' '2021-02-13'
 '2021-02-14' '2021-02-15' '2021-02-16' '2021-02-17' '2021-02-18'
 '2021-02-19' '2021-02-20' '2021-02-21' '2021-02-22' '2021-02-23'
 '2021-02-24' '2021-02-25' '2021-02-26' '2021-02-27' '2021-02-28'
 '2021-03-01' '2021-03-02' '2021-03-03' '2021-03-04' '2021-03-05'
 '2021-03-06' '2021-03-07' '2021-03-08' '2021-03-09' '2021-03-10'
 '2021-03-11' '2021-03-12' '2021-03-13' '2021-03-14' '2021-03-15'
 '2021-03-16' '2021-03-17' '2021-03-18' '2021-03-19' '2021-03-20'
 '2021-03-21' '2021-03-22' '2021-03-23' '2021-03-24' '2021-03-25'
 '2021-03-26' '2021-03-27' '2021-03-28' '2021-03-29' '2021-03-30'
 '2021-03-31' '2021-04-01' '2021-04-02' '2021-04-03' '2021-04-04'
 '2021-04-05' '2021-04-06' '2021-04-07' '2021-04-08' '2021-04-09'
 '2021-04-10' '2021-04-11']

accumulated_cases -----:
 ['0' '<15' '15' ... '3854' '3865' '3869']

new_cases_on_date -----:
 [False  True]

accumulated_recoveries -----:
 ['0' '<15' '16' ... '3796' '3798' '3799']

new_recoveries_on_date -----:
 [False  True]

accumulated_hospitalized -----:
 ['0.0' '<15' '15.0' '16.0' '17.0' '18.0' '19.0' '20.0' '21.0' '22.0'
 '23.0' '24.0' '25.0' '26.0' '27.0' '28.0' '29.0' '30.0' '32.0' '33.0'
 '34.0' '31.0' '35.0' '36.0' '37.0' '38.0' '39.0' '40.0' '41.0' '42.0'
 '43.0' '44.0' '45.0' '46.0' '47.0' '48.0' '49.0' '50.0' '51.0' '52.0'
 '53.0' '54.0' '55.0' '57.0' '58.0' '59.0' '60.0' '61.0' '62.0' '63.0'
 '64.0' '65.0' '66.0' '67.0' '69.0' '70.0' '72.0' '75.0' '77.0' '79.0'
 '80.0' '81.0' '82.0' '83.0' '84.0' '86.0' '88.0' '89.0' '90.0' '91.0'
 '92.0' '93.0' '56.0' '71.0' '73.0' '74.0' '76.0' '78.0' '85.0' '87.0'
 '94.0' '96.0' '98.0' '99.0' '100.0' '101.0' '102.0' '103.0' '104.0'
 '105.0' '107.0' '108.0' '109.0' '110.0' '111.0' '112.0' '113.0' '114.0'
 '68.0' '95.0' '97.0' '106.0' '115.0' '116.0' '117.0' '118.0' '119.0'
 '121.0' '122.0' '120.0' '123.0' '124.0' '127.0' '128.0' '129.0' '130.0'
 '131.0' '132.0' '133.0' '125.0' '126.0' '134.0' '135.0' '136.0' '139.0'
 '140.0' '141.0' '143.0' '145.0' '147.0' '148.0' '149.0' '151.0' '153.0'
 '154.0' '155.0' '156.0' '158.0' '159.0' '160.0' '161.0' '162.0' '163.0'
 '164.0' '165.0' '166.0' '167.0' '169.0' '170.0' '171.0' '172.0' '173.0'
 '174.0' '176.0' '177.0' '137.0' '138.0' '142.0' '144.0' '146.0' '152.0'
 '157.0' '175.0' '179.0' '180.0' '182.0' '183.0' '185.0' '186.0' '187.0'
 '188.0' '190.0' '193.0' '194.0' '196.0' '197.0' '198.0' '200.0' '202.0'
 '205.0' '207.0' '209.0' '210.0' '214.0' '215.0' '216.0' '217.0' '219.0'
 '221.0' '223.0' '224.0' '225.0' '228.0' '229.0' '230.0' '232.0' '233.0'
 '236.0' '239.0' '241.0' '242.0' '244.0' '246.0' '248.0' '249.0' '250.0'
 '251.0' '256.0' '258.0' '260.0' '262.0' '264.0' '265.0' '266.0' '268.0'
 '269.0' '270.0' '271.0' '272.0' '276.0' '280.0' '281.0' '283.0' '284.0'
 '286.0' '287.0' '288.0' '292.0' '295.0' '296.0' '298.0' '299.0' '300.0'
 '301.0' '302.0' '305.0' '306.0' '307.0' '308.0' '309.0' '150.0' '168.0'
 '178.0' '181.0' '189.0' '201.0' '203.0' '204.0' '206.0' '211.0' '212.0'
 '213.0' '218.0' '220.0' '222.0' '226.0' '231.0' '237.0' '238.0' '240.0'
 '243.0' '245.0' '247.0' '184.0' '192.0' '195.0' '227.0' '235.0' '255.0'
 '257.0' '261.0' '263.0' '275.0' '278.0' '279.0' '282.0' '289.0' '293.0'
 '297.0' '303.0' '310.0' '312.0' '314.0' '315.0' '318.0' '319.0' '320.0'
 '322.0' '324.0' '327.0' '328.0' '330.0' '334.0' '339.0' '341.0' '342.0'
 '343.0' '345.0' '347.0' '348.0' '352.0' '354.0' '356.0' '358.0' '360.0'
 '362.0' '364.0' '365.0' '367.0' '368.0' '369.0' '370.0' '371.0' '373.0'
 '374.0' '375.0' '199.0' '234.0' '253.0' '254.0' '259.0' '277.0' '290.0'
 '291.0' '304.0' '311.0' '317.0' '321.0' '323.0' '191.0' '208.0']

new_hospitalized_on_date -----:
 [False  True]

accumulated_deaths -----:
 ['0' '<15' '15' '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '27'
 '28' '29' '30' '31' '26' '32' '33' '35' '36' '37' '38' '39' '41' '42'
 '44' '45' '46' '48' '49' '51' '53' '54' '55' '56' '57' '58' '34' '43'
 '40']

new_deaths_on_date -----:
 [False  True]

accumulated_diagnostic_tests -----:
 ['0' '<15' '16' ... '19263' '11910' '12321']

new_diagnostic_tests_on_date -----:
 [False  True]

accumulated_vaccination_first_dose -----:
 ['0.0' '<15' '26.0' ... '4459.0' '4788.0' '4483.0']

new_vacc_first_dose_on_date -----:
 [False  True]

accumulated_vaccination_second_dose -----:
 ['0.0' '19.0' '70.0' ... '4581.0' '4611.0' '4361.0']

new_vacc_second_dose_on_date -----:
 [False  True]

In [9]:
df.town_code.value_counts()

3000    58756
5000    44464
4000    28187
8300    22629
7900    19850
        ...
3726      397
658       397
147       397
2710      397
511       397
Name: town_code, Length: 262, dtype: int64

In [10]:
df.town.value_counts()

ירושלים        58756
תל אביב-יפו    44464
חיפה           28187
ראשון לציון    22629
פתח תקווה      19850
               ...
בני עי"ש         397
כפר ברא          397
ברקת             397
כסרא-סמיע        397
להבים            397
Name: town, Length: 262, dtype: int64

In [11]:
df.agas_code.value_counts()

3.0       16277
2.0       15880
4.0       14292
1.0       12307
5.0       11910
          ...
1043.0      397
616.0       397
1216.0      397
335.0       397
347.0       397
Name: agas_code, Length: 337, dtype: int64

In [12]:
jlm_df = df.loc[df['town_code'] == 3000]

In [13]:
jlm_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58756 entries, 195324 to 254079
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   town_code                            58756 non-null  int64
 1   agas_code                            58359 non-null  float64
 2   town                                 58756 non-null  object
 3   date                                 58756 non-null  object
 4   accumulated_cases                    58756 non-null  object
 5   new_cases_on_date                    58756 non-null  bool
 6   accumulated_recoveries               58756 non-null  object
 7   new_recoveries_on_date               58756 non-null  bool
 8   accumulated_hospitalized             58756 non-null  object
 9   new_hospitalized_on_date             58756 non-null  bool
 10  accumulated_deaths                   58756 non-null  object
 11  new_deaths_on_date                   58756 non-null  bool
 12  accumulated_diagnostic_tests         58756 non-null  object
 13  new_diagnostic_tests_on_date         58756 non-null  bool
 14  accumulated_vaccination_first_dose   58756 non-null  object
 15  new_vacc_first_dose_on_date          58756 non-null  bool
 16  accumulated_vaccination_second_dose  58756 non-null  object
 17  new_vacc_second_dose_on_date         58756 non-null  bool
dtypes: bool(7), float64(1), int64(1), object(9)
memory usage: 5.8+ MB

In [14]:
jlm_df.isna().sum()

town_code                                0
agas_code                              397
town                                     0
date                                     0
accumulated_cases                        0
new_cases_on_date                        0
accumulated_recoveries                   0
new_recoveries_on_date                   0
accumulated_hospitalized                 0
new_hospitalized_on_date                 0
accumulated_deaths                       0
new_deaths_on_date                       0
accumulated_diagnostic_tests             0
new_diagnostic_tests_on_date             0
accumulated_vaccination_first_dose       0
new_vacc_first_dose_on_date              0
accumulated_vaccination_second_dose      0
new_vacc_second_dose_on_date             0
dtype: int64

In [15]:
jlm_df.agas_code.value_counts()

1131.0    397
1355.0    397
1212.0    397
825.0     397
1014.0    397
         ...
134.0     397
111.0     397
132.0     397
915.0     397
1015.0    397
Name: agas_code, Length: 147, dtype: int64

In [16]:
regions_map = pd.read_csv('./res/stat_areas.csv')

In [17]:
jlm_df.to_csv('./res/jlm_df.csv')